
    @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

    :root{
        --or-2: #ff0000;
        --or: #ff3700;
        --bg-desc: linear-gradient(to right,#ff0000,#ff1e00,#ff3700,#ff5e00,#ff8800);
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Kanit', sans-serif;  
        overflow-x: hidden;
    }
    .body{
        height: 100vh;
        background-color: #ff1e0006;
        background-image: url('https://i.postimg.cc/6qF1GMJY/descbg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1000;
    }

    ::selection{
        background-color: #ff1e00;
        color: #fff;
    }

    li{
        list-style: none;
    }
    
    a{
        text-decoration: none;
cursor:pointer;
    }

    a.active{
        font-weight: bold;
    }
    
    a.hd{
        text-decoration: none;
        color: #ff1e00;
        font-size: 1rem;
    }
    dropdown_menu a.hd{
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
    }

    a.hd:hover{
        color: #0300a0;
    }
    /* HEADER */

    .fixed{
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    header{
        position: relative;
        padding: 0 2rem;
        background: #fff;
    }
    .navbar{
        width: 100%;
        height: 60px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar .links{
        display: flex;
        gap: 2em;
    }
    .navbar .toggle_btn{
        color: #ff1e00;
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
    }
    
    .action-btn{
        background-color: #ff1e00;
        color: #fff;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        border-radius: 10px;
        font-size: 0.8rem;
        font-weight: bold;
        cursor: pointer;
        transition: scale .2 ease;
    }
    
    .action-btn:hover{
        scale: 1.05;
        color: #fff;
    }

    .action-btn:active{
        scale: 0.95;
    }

    /* DROPDOWN */

    .dropdown_menu{
        display: none;
        position: absolute;
        right: 0;
        top: 60px;
        height: calc(100vh - 60px) !important;
        width: 0;
        background-color: var(--or);
        overflow: hidden;
        transition: width 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    }

    .dropdown_menu.open{
        width: 30%;
    }

    .dropdown_menu li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dropdown_menu .action-btn{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /* RESPONSIVE DESIGN */
    @media(max-width: 992px){
        .navbar .links,
        .navbar .action-btn {
            display: none;
        }

        .navbar .toggle_btn{
            display: block;
        }
        .dropdown_menu{
            display: block;
        }
    }

    @media(max-width: 576px){
        .dropdown_menu{
            width: 0;
        }
        
        .td a.piset{
            font-size: 12px;
        }
        td .td{
            height: 80px;
        }
    }

    @media(max-width: 405px){
        header{
            padding: 0;
        }
        .td a.piset{
            font-size: 12px;
        }

    }

    /* SECTION */

    .MeNu tr td{
        width: 20%;
    }
    .td{
        border-radius: 10px;
        background: var(--or);
        padding: 10px;
        height: 60px;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Kanit', sans-serif;
        margin: 5px;
    }
    
    .td a{
        font-family: 'Kanit', sans-serif;
        color: #fff;
    }
    .td a:hover{
        color: #0300a0;
    }
    /* MARQUEE */

    marquee{
      padding: 5px 0;
      font-size: 24px;
      font-weight: normal;
      background: var(--bg-desc);
      color: #ffffff;
      z-index: 0;
      position: unset;
      }

    marquee h1{
        font-size: 24px;
      z-index: 0;
    }
    
    
    .user-cards{
            display: grid;
            gap: .25rem;
            grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
            margin: 1rem 10px 0 10px;
        }
        .card{
            border: 1px solid var(--or);
            color: #ff4d00;
            border-radius: 5px;
            margin-left: 5px;
            margin-top: 5px;
            padding: 5px;
        }
        .card > .header{
            margin-bottom: .25rem;
            font-family: 'Kanit', sans-serif;
        }
        .card > .bodys{
            margin-bottom: .8rem;
            color: #ff8800;
        }
        .card:hover > .bodys{
            margin-bottom: .8rem;
            color: #fff;
        }

        .card:hover{
            background: var(--or-2);
            color: #f2f2f2;
        }
        .card .bodys:hover{
            color: #f2f2f2;
        }
                .w3-col{
                    padding: 0 35px;
                    display: inline-flex;
                    width: 100%;
                    margin: 10px 0;
                    height: 400px;
                    font-family: 'Kanit', sans-serif;
                }
                .w3-col-1{
                    width: 100%;
                    display: flex;
                    background: #f2f2f2;
                    border-radius: 20px;
                    margin-right: 5px;
                }
                .w3-col-2{
                    width: 100%;
                    background: #f2f2f2;
                    border-radius: 20px;
                    align-items: center;
                    font-family: 'Kanit', sans-serif;
                }
                .w3-col-2 center{
                    font-family: 'Kanit', sans-serif;

                }
                iframe{
                    width: 100%;
                    height: 300px;
                    padding: 10px;
                    border-radius: 10px;
                }

                .w3-col{
                    padding: 0 35px;
                    display: inline-flex;
                    width: 100%;
                    margin: 10px 0;
                    height: 400px;
                    font-family: 'Kanit', sans-serif;
                }
                .w3-col-1{
                    width: 100%;
                    display: flex;
                    background: #f2f2f2;
                    border-radius: 20px;
                    margin-right: 5px;
                }
                .w3-col-2{
                    width: 100%;
                    background: #f2f2f2;
                    border-radius: 20px;
                    align-items: center;
                    font-family: 'Kanit', sans-serif;
                }
                .w3-col-2 center{
                    font-family: 'Kanit', sans-serif;

                }
    /* footer */
    
    footer{
                font-family: 'Kanit', sans-serif;
                margin-top: 10px;
                width: 100%;
                bottom: 0;
                position: unset;
                background: linear-gradient(to right,#000,#000,#000,#640000,#c50000/*,#2f006d*/,#ff0000/*,#0093a0,#ff8800,#ff3700,#ff0000*/);
                color: #fff;
                padding: 30px 0px 30px;
                border-top-left-radius: 125px;
                font-size: 13px;
                line-height: 20px;
            }
            .row{
                font-family: 'Kanit', sans-serif;
                width: 85%;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                align-items: start;
                justify-content: space-between;
            }
            
            .col{
                flex-basis: 25%;
                padding: 10px;
            }

            .logos{
                width: 100px;
                margin-bottom: 30px;
            }
            .col > h1,h2,h3,h4,h5,h6,p{
                font-family: 'Kanit', sans-serif;
            }

            .col h3{
                width: fit-content;
                margin-bottom: 40px;
                position: relative;

            }

            .email-id{
                width: fit-content;
                border-bottom: 1px solid #ccc;
                margin: 20px 0;
            }
            ul.ul li.li{
                list-style: none;
                margin-bottom: 12px;
            }
            ul.ul li.li a{
                text-decoration: none;
                font-family: 'Kanit', sans-serif;
                color: #fff;
            }
            form{
                padding-bottom: 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #ccc;
                margin-bottom: 50px;
            }

            form .far{
                font-size: 18px;
                margin-right: 10px;
            }
            form input{
                width: 100%;
                padding: 2px;
                background: transparent;
                color: #ccc;
                border: 0;
                outline: none;
                font-family: 'Kanit', sans-serif;
            }
            form input::placeholder{
                font-family: 'Kanit', sans-serif;
                color: #ccc
            }
            form button{
                background-color: transparent;
                border: 0;
                outline: none;
                cursor: pointer;
            }
            form button .fas{
                font-style: 16px;
                color: #fff
            }
            .social-icons{

            }
            .social-icons a{
                color: #fff;
            }
            .social-icons a i{
                font-size: 20px;
                margin-right: 5px;
            }
