
h1, h2, h3, h4, h5, h6, p, a, li {
    overflow: hidden;
}

.logo {
    overflow: hidden;
}

div#countdown {
    font-weight: 900;
}
    @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

    :root{
        --or-2: #ff0000;
        --or: #ff8800;
        --bg-desc: linear-gradient(to right,#ff0000,#ff1e00,#ff3700,#ff5e00,#ff8800);
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Kanit', sans-serif;  
        overflow-x: hidden;
    }
    .body{
        height: 100vh;
        background-color: #ff1e0006;
        background-image: url('https://i.postimg.cc/6qF1GMJY/descbg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1000;
    }

    ::selection{
        background-color: #ff1e00;
        color: #fff;
    }

    li{
        list-style: none;
    }
    
    a{
        text-decoration: none;
        cursor:pointer;
    }

    a.active{
        font-weight: bold;
    }
    
    a.hd{
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
    }
    dropdown_menu a.hd{
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
    }

    a.hd:hover{
        color: #ffd000;
    }
    /* HEADER */

    .fixed{
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    header{
        position: relative;
        padding: 0 2rem;
        background: #800;
    }
    .navbar{
        width: 100%;
        height: 60px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar .links{
        display: flex;
        gap: 2em;
    }
    .navbar .toggle_btn{
        color: #ff1e00;
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
    }
    
    .action-btn{
        background-color: #fff;
        color: #800;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        border-radius: 10px;
        font-size: 0.8rem;
        font-weight: bold;
        cursor: pointer;
        transition: scale .2 ease;
    }
    
    .action-btn:hover{
        scale: 1.05;
        color: #001188;
    }

    .action-btn:active{
        scale: 0.95;
    }

    /* DROPDOWN */

    .dropdown_menu{
        display: none;
        position: fixed;
        right: 0;
        top: 60px;
        height: calc(100vh - 60px) !important;
        width: 0;
        background-color: var(--or);
        overflow: hidden;
        transition: width 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    }

    .dropdown_menu.open{
        width: 30%;
    }

    .dropdown_menu li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dropdown_menu .action-btn{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /* RESPONSIVE DESIGN */
    @media(max-width: 992px){
        .navbar .links,
        .navbar .action-btn {
            display: none;
        }

        .navbar .toggle_btn{
            display: block;
        }
        .dropdown_menu{
            display: block;
        }
    }

    @media(max-width: 576px){
        .dropdown_menu{
            width: 0;
        }
        
        .td a.piset{
            font-size: 12px;
        }
        td .td{
            height: 80px;
        }
    }

    @media(max-width: 405px){
        header{
            padding: 0;
        }
        .td a.piset{
            font-size: 12px;
        }

    }

    /* SECTION */

    .MeNu tr td{
        width: 20%;
    }
    .td{
        border-radius: 10px;
        background: var(--or);
        padding: 10px;
        height: 60px;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Kanit', sans-serif;
        margin: 5px;
        display: flex;
        overflow: hidden;
    }
    
    .td a{
        font-family: 'Kanit', sans-serif;
        color: #fff;
    }
    .td a:hover{
        color: #0300a0;
    }
    /* MARQUEE */

    marquee{
      padding: 5px 0;
      font-size: 24px;
      font-weight: normal;
      background: var(--bg-desc);
      color: #ffffff;
      z-index: 0;
      position: unset;
      }

    marquee h1{
        font-size: 24px;
      z-index: 0;
    }
    
    
    .user-cards{
            display: grid;
            gap: .25rem;
            grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
            margin: 1rem 10px 0 10px;
        }
        .card{
            border: 1px solid var(--or);
            color: #ff4d00;
            border-radius: 5px;
            margin-left: 5px;
            margin-top: 5px;
            padding: 5px;
        }
        .card > .header{
            margin-bottom: .25rem;
            font-family: 'Kanit', sans-serif;
        }
        .card > .bodys{
            margin-bottom: .8rem;
            color: #ff8800;
        }
        .card:hover > .bodys{
            margin-bottom: .8rem;
            color: #fff;
        }

        .card:hover{
            background: var(--or-2);
            color: #f2f2f2;
        }
        .card .bodys:hover{
            color: #f2f2f2;
        }
                .w3-col{
                    padding: 0 35px;
                    display: inline-flex;
                    width: 100%;
                    margin: 10px 0;
                    height: 400px;
                    font-family: 'Kanit', sans-serif;
                }
                .w3-col-1{
                    width: 100%;
                    display: flex;
                    background: #f2f2f2;
                    border-radius: 20px;
                    margin-right: 5px;
                }
                .w3-col-2{
                    width: 100%;
                    background: #f2f2f2;
                    border-radius: 20px;
                    align-items: center;
                    font-family: 'Kanit', sans-serif;
                }
                .w3-col-2 center{
                    font-family: 'Kanit', sans-serif;

                }
                iframe{
                    width: 100%;
                    padding: 10px;
                    border-radius: 10px;
                }

                .w3-col{
                    padding: 0 35px;
                    display: inline-flex;
                    width: 100%;
                    margin: 10px 0;
                    height: 400px;
                    font-family: 'Kanit', sans-serif;
                }
                .w3-col-1{
                    width: 100%;
                    display: flex;
                    background: #f2f2f2;
                    border-radius: 20px;
                    margin-right: 5px;
                }
                .w3-col-2{
                    width: 100%;
                    background: #f2f2f2;
                    border-radius: 20px;
                    align-items: center;
                    font-family: 'Kanit', sans-serif;
                }
                .w3-col-2 center{
                    font-family: 'Kanit', sans-serif;

                }
    /* footer */
    
    footer{
                font-family: 'Kanit', sans-serif;
                margin-top: 10px;
                width: 100%;
                bottom: 0;
                position: unset;
                background: linear-gradient(to right,#000,#000,#000,#640000,#c50000/*,#2f006d*/,#ff0000/*,#0093a0,#ff8800,#ff3700,#ff0000*/);
                color: #fff;
                padding: 30px 0px 30px;
                border-top-left-radius: 125px;
                font-size: 13px;
                line-height: 20px;
            }
            .row{
                font-family: 'Kanit', sans-serif;
                width: 85%;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                align-items: start;
                justify-content: space-between;
            }
            
            .col{
                flex-basis: 25%;
                padding: 10px;
            }

            .logos{
                width: 100px;
                margin-bottom: 30px;
            }
            .col > h1,h2,h3,h4,h5,h6,p{
                font-family: 'Kanit', sans-serif;
            }

            .col h3{
                width: fit-content;
                margin-bottom: 40px;
                position: relative;
                overflow: hidden;

            }

            .email-id{
                width: fit-content;
                border-bottom: 1px solid #ccc;
                margin: 20px 0;
            }
            ul.ul li.li{
                list-style: none;
                margin-bottom: 12px;
            }
            ul.ul li.li a{
                text-decoration: none;
                font-family: 'Kanit', sans-serif;
                color: #fff;
            }
            form{
                padding-bottom: 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #ccc;
                margin-bottom: 50px;
            }

            form .far{
                font-size: 18px;
                margin-right: 10px;
            }
            form input{
                width: 100%;
                padding: 2px;
                background: transparent;
                color: #ccc;
                border: 0;
                outline: none;
                font-family: 'Kanit', sans-serif;
            }
            form input::placeholder{
                font-family: 'Kanit', sans-serif;
                color: #ccc
            }
            form button{
                background-color: transparent;
                border: 0;
                outline: none;
                cursor: pointer;
            }
            form button .fas{
                font-style: 16px;
                color: #fff
            }
            .social-icons{

            }
            .social-icons a{
                color: #fff;
            }
            .social-icons a i{
                font-size: 20px;
                margin-right: 5px;
            }

        @media screen and (max-width: 960px) {
            .congratulations img {
                width: 50%!important;
            }
        }
        @media screen and (max-width: 960px) {
            .congrats img {
                width: 50%!important;
            }
        }
        
        .congrats img {
            width: 50%;
            height: 100%;
            object-fit: cover;
            padding: 10px;
        }
          .bai-jamjuree-extralight {
            font-family: "Bai Jamjuree", serif;
            font-weight: 200;
            font-style: normal;
          }
          
          .bai-jamjuree-light {
            font-family: "Bai Jamjuree", serif;
            font-weight: 300;
            font-style: normal;
          }
          
          .bai-jamjuree-regular {
            font-family: "Bai Jamjuree", serif;
            font-weight: 400;
            font-style: normal;
          }
          
          .bai-jamjuree-medium {
            font-family: "Bai Jamjuree", serif;
            font-weight: 500;
            font-style: normal;
          }
          
          .bai-jamjuree-semibold {
            font-family: "Bai Jamjuree", serif;
            font-weight: 600;
            font-style: normal;
          }
          
          .bai-jamjuree-bold {
            font-family: "Bai Jamjuree", serif;
            font-weight: 700;
            font-style: normal;
          }
          
          .bai-jamjuree-extralight-italic {
            font-family: "Bai Jamjuree", serif;
            font-weight: 200;
            font-style: italic;
          }
          
          .bai-jamjuree-light-italic {
            font-family: "Bai Jamjuree", serif;
            font-weight: 300;
            font-style: italic;
          }
          
          .bai-jamjuree-regular-italic {
            font-family: "Bai Jamjuree", serif;
            font-weight: 400;
            font-style: italic;
          }
          
          .bai-jamjuree-medium-italic {
            font-family: "Bai Jamjuree", serif;
            font-weight: 500;
            font-style: italic;
          }
          
          .bai-jamjuree-semibold-italic {
            font-family: "Bai Jamjuree", serif;
            font-weight: 600;
            font-style: italic;
          }
          
          .bai-jamjuree-bold-italic {
            font-family: "Bai Jamjuree", serif;
            font-weight: 700;
            font-style: italic;
          }
        
        @keyframes marquee {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%);
            }
        }

        .marquee {
            display: inline-block;
            white-space: nowrap;
            padding-left: 100%;
            animation: marquee 20s linear infinite;
        }
        h1.aaa{  
            padding: 5px 0;
          font-size: 24px;
          font-weight: normal;
          background: var(--bg-desc);
          color: #ffffff;
          z-index: 0;
          position: unset;
        }
        /*  LOADER  */
        .css-1ltj605 {
            height: 100vh;
            display: flex;
                  position: fixed;
                  inset: 0px;
                  background: rgb(255, 255, 255);
                  z-index: 99999;
                  -webkit-box-align: center;
                  align-items: center;
                  -webkit-box-pack: center;
                  justify-content: center;
                  transition: opacity 0.75s, visibility 0.75s;
              }
        .css-1ltj605-hidden{
            opacity: 0;
            visibility: hidden;
        }
              
        .css-nvmvi3 *, .css-nvmvi3 *::before, .css-nvmvi3 *::after {
                  box-sizing: inherit;
              }
              .css-z01bqi {
                  display: inline-block;
                  color: #800;
                  animation: 1.4s linear 0s infinite normal none running animation-61bdi0;
              }
              .css-nvmvi3 *, .css-nvmvi3 *::before, .css-nvmvi3 *::after {
                  box-sizing: inherit;
              }
              @keyframes animation-61bdi0{
              0% {
                  transform: rotate(0deg);
              }
              100% {
                  transform: rotate(360deg);
              }
                }
              .css-13o7eu2 {
                  display: block;
              }
              .css-nvmvi3 *, .css-nvmvi3 *::before, .css-nvmvi3 *::after {
                  box-sizing: inherit;
              }
              .css-14891ef {
                  stroke: currentcolor;
                  stroke-dasharray: 80px, 200px;
                  stroke-dashoffset: 0;
                  animation: 1.4s ease-in-out 0s infinite normal none running animation-1p2h4ri;
              }
              
              .css-nvmvi3 *, .css-nvmvi3 *::before, .css-nvmvi3 *::after {
                  box-sizing: inherit;
              }
              
              @keyframes nimation-1p2h4ri{
              0% {
                  stroke-dasharray: 1px, 200px;
                  stroke-dashoffset: 0;
              }
              50% {
                  stroke-dasharray: 100px, 200px;
                  stroke-dashoffset: -15px;
              }
              100% {
                  stroke-dasharray: 100px, 200px;
                  stroke-dashoffset: -125px;
              }
              }

              @media (min-width: 1170px) {
                  .cont, .cont-pd {
                      max-width: 1170px!important;
                      padding-left: 30px!important;
                      padding-right: 30px!important;
                  }
              }
              @media (min-width: 992px) {
                  .cont, .cont-pd {
                      max-width: 990px!important;
                      padding-left: 30px!important;
                      padding-right: 30px!important;
                  }
              }
              .cont-pd, cont-pd {
                  max-width: 1232px;
                  min-width: 320px;
                  display: block;
                  position: relative;
                  margin: auto;
                  padding: 0 16px;
              }
              
              
              .c2 {
                  color: #d10000;
              }
              
              .cb {
                  color: #000;
              }
              
              .cw{color:#fff;}
              
              .h5 {
                  font-size: 2.6em !important;
              }
              
              .h7 {
                  font-size: 1.8em !important;
              }
              
              h1, h2, h3, h4, h5, h6, hr, p {
                  margin: 0;
              }
              .h8{
                font-size: 1.3em !important;
              }
                section#section {
                    background: #800000;
                }
              aside nav ul li a{
                  color: #800;
                  border-bottom: 2px solid transparent;
              }
              aside nav ul li a:hover{
                  border-bottom: 2px solid #800;
              }
                
                .containers {
                    background: #fff;
                    padding: 20px;
                    border-radius: 10px;
                }
                .data p {
                    font-size: 20px;
                    margin: 10px 0;
                    color: #000;
                }
                
                .number {
                    font-weight: bold;
                }
    .news-start {
        display: flex;
        justify-content: center;
    }
    .news {
        padding: 15px;
        max-width: 860px;
        
    }

    .news h2 {
        font-size: 24px;
        margin: 0;
        padding-bottom: 15px;
    }

    .news a.view-all {
        color: #800;
        text-decoration: none;
        font-weight: 600;
        transition: 0.3s;
    }

    .news a.view-all:hover {
        padding-right: 10px;
        transition: 0.3s;
    }

    .news-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .news-item {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
    }

    .news-item:last-child {
        border-bottom: none;
    }

    .news-image img {
        width: 150px;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
    }

    .news-details {
        flex: 1;
    }

    .news-title {
        font-size: 18px;
        margin: 0 0 5px;
        color: #333;
    }

    .news-date {
        font-size: 14px;
        color: #666;
        margin: 0 0 10px;
    }

    .news-content {
        font-size: 16px;
        color: #444;
        margin: 0 0 10px;
    }

    .news-link {
        text-decoration: none;
        color: #000;
        transition: color 0.3s ease;
    }

    .news-link:hover {
        color: #555;
    }
    .congratulations{
            display: flex;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
    }
                
    .congrats{
            display: flex;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
    }

    .congratulations img {
            width: 33.3333%;
            height: 100%;
            object-fit: cover;
            padding: 10px;
        }
            
.gen {
    display: flex;
    justify-content: space-between;
    color: #fff;
}
  
.text-gen {
    font-size: 14px;
    margin-top: 5px;
}
                                
div#numGen {
    margin: 0 10px 0 8px;
    font-size: 32px;
    font-weight: 800;
}
                                
.row {
    display: flex;
}
                                
.column.first {
    float: left;
    width: 60%;
    padding: 10px;
    height: auto;
}
                                
.column.end {
    width: 40%;
    padding: 10px;
    height: auto;
}
                                
.box-members.first {
    margin: auto;
    background: url('https://i.postimg.cc/g2BTVfxz/image.png') no-repeat center center;
    background-size: cover;
    border-radius: 5px;
    height: 254px;
    width: 400px;
}
                                
.column.end .column label {
    font-size: 14px;
}

.column.end .column input,
.column.end .column select {
    padding: 5px;
    margin-top: 10px;
    width: 100%;
}
#download-btn {
    background-color: #cf0000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#download-btn:hover {
    background-color: #9c0000;
}
