@charset "utf-8";
@font-face {
  font-family: 'Kanit-Medium';
  src: url('../font/Kanit-Medium.eot?#iefix') format('embedded-opentype'),  url('../font/Kanit-Medium.woff') format('woff'), url('../font/Kanit-Medium.ttf')  format('truetype'), url('../font/Kanit-Medium.svg#Kanit-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit-Light';
  src: url('../font/Kanit-Light.eot?#iefix') format('embedded-opentype'),  url('../font/Kanit-Light.woff') format('woff'), url('../font/Kanit-Light.ttf')  format('truetype'), url('../font/Kanit-Light.svg#Kanit-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
	font-family:'FontAwesome';
	src:url('../font/fontawesome-webfont.eot?v=4.6.2');
	src:url('../font/fontawesome-webfont.eot?#iefix&v=4.6.2') format('embedded-opentype'),
	url('../font/fontawesome-webfont.woff2?v=4.6.2') format('woff2'),
	url('../font/fontawesome-webfont.woff?v=4.6.2') format('woff'),
	url('../font/fontawesome-webfont.ttf?v=4.6.2') format('truetype'),
	url('../font/fontawesome-webfont.svg?v=4.6.2#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal
}
.img_hover {opacity:1; filter:alpha(opacity=100);}
.img_hover:hover {opacity:.8; filter:alpha(opacity=80); cursor:pointer; 	
	-webkit-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

body{margin:auto !important; background:#fff; position:relative; font-family: 'Kanit-Light'; color:#000; max-width: 3000px; 
  /*-webkit-box-shadow: 0px 0px 18px 8px rgba(50, 50, 50, 0.27);
  -moz-box-shadow:    0px 0px 18px 8px rgba(50, 50, 50, 0.27);
  box-shadow:         0px 0px 18px 8px rgba(50, 50, 50, 0.27);*/
}

#img_small{display:block;}
#img_large{display:none;}


img{border:0;}
img, object, embed, video {
	max-width: 205px;
	height:auto;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}
p{line-height:27px;}
html,input,button,select,textarea{
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	-webkit-border-radius:0; 
    border-radius:0;
	outline:none; 
}
button{cursor:pointer;}
ul,ol{padding:0; margin:0;}
a{color:#231f20; text-decoration:none;}
a:hover{text-decoration:underline; 
	-webkit-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;}

#containerBody {
	clear: both;
	width:100%;
	background-color:#fff;
	height:auto;
	display: block;
	margin:auto;
}
#container{max-width:1280px; margin:auto; /*border:1px solid red;*/}
#container2{max-width:1200px; margin:auto;}
#containerHead{
	background:#fff;
	max-width:3000px;
	width:100%; 
	height:90px; 
	position: fixed;
	border-top:7px solid #f99c1a;
	-webkit-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.11);
    -moz-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.11);
    box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.11);
	z-index:90;
	top:0;
}
#containerMenu{max-width:1280px; margin:10px auto;}
#containerMenu #logo{background:url(../images/shared/logo.png) no-repeat top center; width:232px; height:90px; background-size:232px; margin:6px 0 0 0; float:left; cursor:pointer;}
#containerMenu #menu{float:right; margin:0 70px 0 0;}
#containerMenu #menu #main_menu{font-size:20px; font-weight:500; text-transform:uppercase; float:left; margin:19px 20px 0 50px; display:block;}
#containerMenu #menu #main_menu ul li{display:inline-block; padding:0 35px 0 0;}
#containerMenu #menu #main_menu ul li:hover{color:#f99c1a; cursor:pointer;}
#containerMenu #menu #main_menu ul li.selected{color:#f99c1a; cursor:pointer;}
#containerMenu #menu #main_menu ul li.has_sub{background:url(../images/shared/icon_head_dropdown.png) no-repeat top 12px right 10px;}
#containerMenu #menu #main_menu ul li:hover.has_sub{background:url(../images/shared/icon_head_dropdown_hover.png) no-repeat top 12px  right 10px;}
#containerMenu #menu #main_menu ul li.has_sub2{background:url(../images/shared/icon_head_dropdown_hover.png) no-repeat top 12px  right 10px;}

#containerMenu #menu #main_menu ul li#lang{display:inline-block; padding:0 15px;}
#lang>div a span:after{content:"TH";}
#lang>div a:hover{color:#f99c1a; text-decoration:none;}
#lang>div a:hover span:after{content:"EN";}
#lang>div a.actived{color:#f99c1a;}


.dropdown_main{background:#fff; width:100%; height:auto; padding:0; z-index:5; top: 97px; position:fixed; 	
	-webkit-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.11);
    -moz-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.11);
    box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.11);
}
.dropdown_main>.dropdrown_inner{max-width:1000px; margin:auto; padding-top:40px; }
.dropdown_main>.dropdrown_inner ul li{list-style:none; display:inline-block; width: 32%; font-size:18px; vertical-align:top; margin:0 auto 30px auto; text-transform:uppercase;}
.dropdown_main>.dropdrown_inner ul li.thai_lang_head{font-family: 'Kanit-Light'; font-size:21px;}
.dropdown_main>.dropdrown_inner ul li a:hover{color:#f2a225; text-decoration:none;}

.in-down {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@-moz-keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}


#containerMain{padding-top:54px;}
#containerMainBody{max-width:1280px; margin:auto;}
#containerMainBody2{max-width:980px; margin:auto;}

input[type="checkbox"] {visibility: hidden;}
label {cursor: pointer;}
input[type="checkbox"] + label:before {
  border: 1px solid #a9a9a8;
  content: "\00a0";
  display: inline-block;
  font: 20px/1em Kanit-Light;
  width: 23px;
  height: 23px;
  padding: 0;
  vertical-align: top;
}
.w1{width:85%;}
.w1_2{width:85%;}
.w1_3{width:67%;}
.w1_4{width:91%;}
.w1_5{width:72.5%;}
.w2{width:20%;}
.w3{width:15% !important;}
.m1{margin:7px 0 0 -15px; display: inline-block;}
.m2{margin:20px 0 0 0 !important;}
.gray{color:#9b9b9b; text-transform:uppercase;}
.opt1{margin:10px 0;}
.form_sub{margin:10px 0 0 45px;}

.h50px{height:50px;}
.inputBtnSection{vertical-align:top; font-family: 'Kanit-Light'; font-size:20px; margin: 0 0 10px 0; position:relative;}
.disableInputField{ display:inline-block; vertical-align:top; height: 27px; margin: 0; font-size:14px; padding:0 3px; background-color:#fff;}
.fileUpload {position: relative; overflow: hidden; border:solid 1px #a9a9a8; display:inline-block; vertical-align:top; margin:0 25px 0 0;}
.uploadBtn{ display:inline-block;  vertical-align:top; background:#fff; font-size:12px; padding:10px 10px 4px 10px; height:25px; line-height:22px; color:#a9a9a8; text-transform:uppercase;}
.fileUpload input.upload {position: absolute; top: 0; right: 0; margin: 0; padding: 0; font-size: 20px; cursor: pointer; opacity: 0; filter: alpha(opacity=0);}

#loader-icon {position: fixed; top: 50%;width:100%; height:100%; text-align:center; display:none;}
#banner{margin: 90px auto 0 auto; max-width:1920px;}
#banner .cover{/*background:rgba(0,0,0,0.45);*/ width:100%; height:99.3%; top:0; left:0; position:absolute; z-index: 8;}
#banner .cover_text {position: absolute; bottom: 100px; text-align: center; z-index: 9; width: 100%; left:0;}
#banner .cover_text>h1{font-family: 'Kanit-Medium'; text-transform:uppercase; font-size:21px; color:#fff; opacity:1; text-align:center; width:80%; margin:auto;}
.breadcrumbs{font-size:21px; text-transform:uppercase;}
.breadcrumbs a{color:#797979;}
.breadcrumbs a:hover{text-decoration:none;}
.breadcrumbs a.selected{color:#f2a225;}
.breadcrumbs>i{margin:0 10px; font-size:18px;}

.h_margin1{margin:25px 0 70px 0;}
.h_margin2{margin:-80px 0 70px 0;}
.h_margin3{margin:-3px 0 49px 0;}
.h_margin4{margin:2px 30px 37px 0;}
.h_margin5{margin:104px 0 15px 0;}
.h_margin6{margin:104px 0 15px 0;}
.box_margin1{margin:30px 0 0 -90px;}
.box_margin2{margin:30px 0 0 235px;}
.box_margin3{margin: 35px 0 0 -230px;}
.column1{column-count: 1; column-gap: 30px;}
.box_left,.box_left2,.box_left3{float:left;}
.box_right,.box_right2,.box_right3,.box_right4{float:right;}
.text_left{text-align:left;}
.text_right{text-align:right;}

#banner_sub{background-position:center center; background-repeat:no-repeat; width:100%; height:470px; text-align:center; color:#fff;}
#banner_sub>h1{font-family: 'Kanit-Medium'; font-size:48px; padding-top:210px;}
#banner_sub>p{font-size:24px; width:80%; margin: -20px auto 0 auto; display:none;}
.banner_about{background-image:url(../images/about/banner.jpg);}
.banner_contact{background-image:url(../images/contact/banner.jpg);}
.banner_ir{background-image:url(../images/ir/banner.jpg);}
.banner_capability{background-image:url(../upload/banner/other/banner_project.jpg);}
.banner_support{background-image:url(../upload/banner/other/banner_support.jpg);}
.space_banner{padding-top:100px;}

#sub_menu_ir ul li{width: 248px !important;}
.sub_menu{margin:auto; text-align:center; text-transform:uppercase; font-family: 'Kanit-Light';}
.sub_menu ul li{list-style:none; display:inline-block; padding:7px 40px; text-align:center; font-size:19px; vertical-align:middle; line-height: 25px;}
.sub_menu ul li.thai_lang{font-size:21px; font-family: 'Kanit-Light';}
.sub_menu ul li.selected{color:#f2a225;}
.sub_menu ul li:hover{text-decoration:none; color:#f2a225; cursor:pointer;}
.sub_head{margin:auto; /*width:41%;*/ padding:25px 0 40px 0; text-align: center;}
.sub_head>.square{border:11px solid #f2a225; width:144px; height:149px;}
.sub_head>.text{background:#fff; margin:-138px 0 0 81px; padding:3px 0 3px 0; display: flex;}
.sub_head>.text>h1{font-family: 'Kanit-Medium'; font-size:36px; text-transform:uppercase;}

.black1{color:#000101;}
.orange{color:#f2a225;}
.orange2{color:#fcac20;}
.green{color:#91c73e;}
.b_red{border-color:#ed1c24;}
.b_green{border-color:#6fc390;}
.b_black{border-color:#000;}
.b_orange{border-color:#f2a225;}

.margin_left{margin-left:36%;}
.margin_left2{margin-left:40%;}
.margin_left3{margin-left:36%;}
.margin_right1{margin:0 0 0 20px !important;}
.margin_right2{margin:0 452px 0 0 !important;}
.margin_right3{margin:60px 218px 25px 0 !important;}
.effect1{
	-webkit-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
